:root {
    --jumbotron-padding-y: 3rem;
  }

  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  
  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  .featurette-heading {
    font-size: 50px;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .card-wrapper {
    margin-bottom: 30px;
  }
  .card-image .card .card-img-wrapper {
    height: 100%;
  }
  .card-image .card .card-body {
    display: none;
  }
  .card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
  }
  .card-image-title-description .card {
    position: relative;
    min-height: 300px;
  }
  .card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
  }
  .card-image-title-description .card:hover .card-body {
    top: -70px;
  }
  .card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
  }
  .card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
  }
  .card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
  }
  .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
  }
  .card-img-wrapper img {
    transition: 1.5s ease;
  }
  .card:hover .card-img-wrapper img {
    transform: scale(1.15);
  }
  .card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
  }
  .card:hover .card-body .card-title {
    margin-bottom: .75rem;
  }
  
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #fff;
    transition: 1.5s ease;
  }
  .card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  .card:hover .card-body {
    height: 80%;
  }
  .card:hover .card-content {
    bottom: 0;
  }
  body {
    margin: 0;
    background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);
  }
  